.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.RDS
.Renviron
~$* 
*.docx

# python 
venv/

# this is OS specific for Cybertron/Local
.Renviron 
*.gz
rclone.sh

# Project specific
00_archive/
azcopy.sh
figures/
references/
resources/
results/
samples/
presentations/
meeting_notes_link.txt
#symlinks
figures
references
resources
results
samples
00_archive


venv_ok/
requirements_02.27.2024.txt
env/testing_requirements.txt
env/testing.yaml
openssl_versions.txt
ssl_errors.txt